In [110]:
import pandas as pd
import numpy as np

In [111]:
movies_df=pd.read_csv(r"C:\Users\varsh\OneDrive\Desktop\Movie.csv")

In [112]:
movies_df.shape

(8992, 3)

In [113]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [114]:
movies_df[movies_df['userId']==6]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [115]:
#number of unique users in the dataset
len(movies_df.userId.unique())

4081

In [116]:
len(movies_df.movie.unique())

10

In [117]:
movies_df.movie.unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [123]:
user_movies_df=index=movies_df.userId.unique()
user_movies_df

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)